language: "perl"

perl:
  - "5.26"
  - "5.14"

sudo: false

addons:
  apt:
    packages:
    - unzip

env:
  - COVERALLS=false

before_install:
    - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH"
    - export ENSEMBL_BRANCH=master
    - if [[ $TRAVIS_BRANCH =~ ^release\/[0-9]+$ ]]; then export ENSEMBL_BRANCH=$TRAVIS_BRANCH; fi
    - echo "ENSEMBL_BRANCH=$ENSEMBL_BRANCH"
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-test.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-hdf5.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-compara.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-variation.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-vep.git
    - git clone --branch ilavidas/new_motif --depth 1 https://github.com/Ensembl/ensembl-funcgen.git
    - git clone --branch $ENSEMBL_BRANCH --depth 1 https://github.com/Ensembl/ensembl-io.git
    - git clone -b release-1-6-924 --depth 1 https://github.com/bioperl/bioperl-live.git
    - git clone --branch 1.3.2 --depth 1 https://github.com/samtools/htslib.git
    - cd htslib
    - make
    - export HTSLIB_DIR=$(pwd -P)
    - cd ..
    - cd ensembl-variation/C_code/
    - make
    - cd ../../

install:
    - cpanm -v --installdeps --with-recommends --notest --cpanfile ensembl/cpanfile .
    - cpanm -v --installdeps --with-recommends --notest .
    - cpanm -n Devel::Cover::Report::Coveralls
    - cpanm DBD::SQLite
    - cp travisci/MultiTestDB.conf.travisci t/MultiTestDB.conf
    - mysql -u root -h localhost -e 'GRANT ALL PRIVILEGES ON *.* TO "travis"@"%"'

script: "./travisci/harness.sh"

notifications:
  email:
    on_failure: change
  slack:
    secure: Q0MkdvATb4X2mhfFHugDe/EeDAD9mNn/K5atrKLt+vQ5gO6Pc/LkeLoFCBmO4GiJHrFf9UeE4qWCQ/xsRHVNK4qiukVvminRdF97DFWAzLZ3GqJvMYJxZx/JCiaUhjbLW+GVhPWo82WRHlW/kaqHc0qXyKnMkoHRf/kcZC2cA5E=
    on_failure: change
