language: perl

dist: focal

services:
  - mysql

perl:
  - '5.26'
  - '5.32'

addons:
  apt:
    packages:
      - libbz2-dev
      - libcurl4-gnutls-dev
      - libexpat1-dev
      - liblzma-dev
      - libmysqlclient-dev
      - libpng-dev

env:
  global:
    - ENSDIR=$TRAVIS_BUILD_DIR/..
    - ENSEMBL_BRANCH='main'
    - PATH=$PATH:$ENSDIR/ensembl-git-tools/bin
    - HTSLIB_DIR=$ENSDIR/htslib
    - PERL5LIB=$TRAVIS_BUILD_DIR/../bioperl-live
  jobs:
    - COVERALLS=true COVERALLS_REPO_TOKEN=${{secret.COVERALLS_REPO_TOKEN}}
    - COVERALLS=false

matrix:
  exclude:
  - perl: '5.26'
    env: COVERALLS=false
  - perl: '5.32'
    env: COVERALLS=true COVERALLS_REPO_TOKEN=${{secret.COVERALLS_REPO_TOKEN}}

before_install:
    - cd $ENSDIR
    - git clone -b release-1-6-924 --depth 1 https://github.com/bioperl/bioperl-live.git
    - git clone --depth 1 https://github.com/Ensembl/ensembl-git-tools.git
    - export PATH=$PWD/ensembl-git-tools/bin:$PATH
    - if [[ $TRAVIS_BRANCH =~ ^release\/[0-9]+$ ]]; then export ENSEMBL_BRANCH=$TRAVIS_BRANCH; fi
    - git-ensembl --clone --depth 1 --branch $ENSEMBL_BRANCH api
    - git-ensembl --clone --depth 1 --branch $ENSEMBL_BRANCH ensembl-test
    # VEP may branch late sometimes
    - git-ensembl --clone --depth 1 --branch $ENSEMBL_BRANCH --secondary_branch main ensembl-vep
    - git clone --branch 1.13 --recurse-submodules --shallow-submodules https://github.com/samtools/htslib.git
    - cd htslib
    - make prefix=$ENSDIR/share/htslib install
    - export HTSLIB_DIR=$(pwd -P)
    - cd $ENSDIR/ensembl-variation/C_code/
    - make
    - cd $TRAVIS_BUILD_DIR

install:
    - cpanm -v --sudo --installdeps --with-recommends --notest --cpanfile ../ensembl/cpanfile .
    - cpanm -v --sudo --installdeps --with-recommends --notest .
    - cp travisci/MultiTestDB.conf.travisci t/MultiTestDB.conf
    - mysql -u root -h localhost -e 'GRANT ALL PRIVILEGES ON *.* TO "travis"@"%"'
    - mysql -u root -h localhost -e 'SET GLOBAL local_infile=1'

script: "./travisci/harness.sh"

notifications:
  email:
    on_failure: change
  slack:
    rooms:
      secure: Bewsi8hvW4hJ5tNrPkfS9MWFRoADQHclDdTVB7pd0A0cAGUcysbLR3yzmytfyrOtUKkasL+fKut0p2xS8LnkZU5WsFsDcMTwEjoqUTe2pTna7093Re+aK+H7c8sTb/HzDjGhupIuR4om6vGbV5mBzXKfBjE+8r8ot/kFpl/ZE6k=
    on_failure: change
