<h1>Change Log</h1>

<h2>1.4.1 - 9th September 2013</h2>

<h3>Bugfixes</h3>
<ul>
  <li>Lookup with a non-indexed stable identifiers in databases other than core failed</li>
</ul>

<h2>1.4.0 - 3rd September 2013</h2>

<h3>New Features</h3>
<ul>
  <li>Improved error page when a user goes to an unknown documentation page</li>
  <li>Rate limiter responds with a Retry-After header once limits have been hit</li>
  <li><tt>[/assembly/info]</tt> should return those Slices which are part of the karyotype</li>
  <li><tt>[/feature/translation/:id]</tt> Support the retrieval of splice sites with respect from a translation</li>
  <li><tt>[/feature/translation]</tt> Improved translation feature support for GFF3</li>
  <li><tt>[/info/analysis]</tt> Support retrieval of analysis logic names</li>
  <li><tt>[/info/analysis]</tt> to provide logic names available</li>
  <li><tt>[/info/biotype]</tt> Support for listing available biotypes</li>
  <li><tt>[/info/data]</tt> has been sped up for Ensembl Genomes servers (Ensembl Bacteria)</li>
  <li><tt>[/info/external_db]</tt> Support retrieval of external dbs</li>
  <li><tt>[/info/external_dbs]</tt> Support the retrieval of external dbs </li>
  <li><tt>[/lookup/id]</tt> Provide more information for a lookup ID</li>
  <li><tt>[info/biotypes]</tt> Support retrieval of biotypes from the rest api</li>
</ul>

<h3>Bugfixes</h3>
<ul>
  <li>REST GFF CDS Line is incorrect. ID can repeat in a single GFF file</li>
  <li><tt>[/compara/homology]</tt> throws an exception when requesting ENSEMBL_PROJECTION ortholog alignmnets</li>
  <li><tt>[/feature/id]</tt> does not work for regulatory regions</li>
  <li><tt>[/feature/id]</tt> is failing as it thinks species is a HASH ref</li>
  <li><tt>[/genetree/symbol]</tt> and <tt>[/feature/translation]</tt> modified to default object type</li>
  <li><tt>[/ontology/descendents/:id]</tt> Using the zero_distance parameter destroys any output</li>
  <li><tt>[/ontology/id/:id]</tt> Giving a bogus ontology ID causes a stack trace</li>
</ul>

<h2>1.3.2 - 15th April 2013</h2>

<h3>New Feature</h3>
<ul>
  <li><tt>[/info/species]</tt> allows you to specify a division to limit the data by</li>
</ul>

<h3>Bugfixes</h3>
<ul>
  <li><tt>[/homology/id]</tt> and <tt>[/homology/symbol]</tt> have improved error reporting when IDs and symbols cannot be found</li>
</ul>

<h2>1.3.1 - 15th April 2013</h2>
<h3>Bugfixes</h3>
<ul>
  <li><tt>[/vep]</tt>could not find a region due to changes in the backing Lookup object</li>
</ul>

<h2>1.3.0 - 9th April 2013</h2>

<h3>New Feature</h3>
<ul>
  <li>
    <tt>[/feature/id]</tt> allows for the querying of features overlapping a stable ID
  </li>
  <li>
    <tt>[/genetree/member/id]</tt> allows for the querying of a GeneTree by one of its member's stable ID
  </li>
  <li>
    <tt>[/genetree/member/symbol]</tt> allows for the querying of a GeneTree by one of its member's symbols (its name e.g. BRAF)
  </li>
  <li>
    <tt>[/taxonomy/]</tt> provides methods for querying the Ensembl taxonomy database. This is a mirror of NCBI's taxonomy.
  </li>
  <li>
    <tt>[/ontology/]</tt> provides methods for querying the Ensembl ontology database
  </li>
  <li>
    <tt>[/lookup/id]</tt> replaces <tt>[/lookup]</tt> but the old endpoint remains active. This endpoint now supports genomic location reporting of features. Please use the new endpoint.
  </li>
  <li>
    <tt>Model::Registry</tt> supports use of Ensembl Genomes' <tt>Bio::EnsEMBL::LookUp</tt> object to help loading bacteria datasets
  </li>
  <li>
    All location based services no longer support underscores as a numeric separator. All now support UCSC names for sequence regions
  </li>
  <li>
    Support for CrossOrigin resource sharing via <tt>Plack::Middleware::CrossOrigin</tt>
  </li>
</ul>

<h3>Bugfixes</h3>
<ul>
  <li><tt>[/species/info]</tt> now supports the vast numbers Ensembl Bacteria brings into the registry</li>
  <li>All models if they need access to the Catalyst context object implement methods to access this without explicit pass throughs. Affects all Models apart from Registry</li>
</ul>

<h3>Configuration</h3>
<ul>
  <li><tt>Model::Registry</tt> has <tt>Bio::EnsEMBL::LookUp</tt> configuration attributes</li>
  <li><tt>Controller::Taxonomy</tt> allows for database name configuration</li>
  <li><tt>Controller::Ontology</tt> allows for database name configuration</li>
</ul>

<h2>1.2.0 - 15th Feburary 2013</h2>

<h3>New Feature</h3>
<ul>
  <li>
    Support for Sereal encoding format from <tt>Sereal::Encoder</tt>. MIME type
    <tt>application/x-sereal</tt> is required and extension support is
    <tt>.sereal</tt>
  </li>
  <li>
    Support for MessagePack encoding format from <tt>Data::MessagePack</tt>. MIME type
    <tt>application/x-msgpack</tt> is required and extension support is
    <tt>.msgpack</tt>
  </li>
    
</ul>

<h3>Configuration</h3>
<ul>
  <li>Configuration has switched to a more Catalyst friendly method. Config
    is namespaced to the object which uses it and is accessible via local
    accessors in that object. 
    <ul>
      <li>Registry and Documentation are prefixed with <tt>Model::</tt></li>
      <li>Feature and Sequence are prefixed with <tt>Controller::</tt><li>
      <li>All other configuration sections are unaffected</li>
    </ul>
  </li>
</ul>

<h3>Bugfixes</h3>

<ul>
  <li><tt>[/feature]</tt> CDS no longer report a protein as an exon's ID since 
    ID should be unique in a file. Instead this is available via the 
    protein_id attribute</li>
</ul>

<h2>1.1.2 - 25th October 2012</h2>

<h3>Output</h3>
<ul>
	<li><tt>[/homology]</tt> now supports the retrieval of CDNA sequences</li>
</ul>

<h3>Bugfixes</h3>

<ul>
  <li><tt>[/feature]</tt>  had incorrect documentation WRT features available</li>
</ul>

<hr/>

<h2>1.1.1 - 25th October 2012</h2>

<h3>Bugfixes</h3>

<ul>
  <li><tt>[/sequence/region]</tt> had not been recoded for our multiple sequence changes resulting in a broken service</li>
	<li>Documentation needs to internally escape characters like <tt>+</tt> for example as Catalyst does not like this</li>
	<li><tt>[/vep]</tt> was attempting to multiple intron_number and exon_number to avoid stringification of numerics; these two fields are not numeric</li>
</ul>

<hr/>

<h2>1.1.0 - 24th October 2012</h2>

<h3>New Features</h3>

<ul>
  <li><tt>[/feature]</tt> new endpoint for retrieval of features by a genomic location</li>
  <li><tt>[/sequence]</tt> now responds to Content-type text/plain with an unformatted raw String of sequence</li>
  <li><tt>Plack::Middleware::Throttle</tt> is an optional install; custom extensions available with this checkout. Brings rate limiting to the REST API service</li>
  <li>Using CHI to cache documentation API responses</li>
  <li>Content type detection carried out using file name extensions as well as the existing mechanisms. Supported on all endpoints</li>
  <li><tt>[/sequence]</tt> supports multiple sequences from a single identifier e.g. proteins from a gene identifier</li>
	<li>Online change log</li>
</ul>

<h3>Output</h3>

<ul>
  <li><tt>[/vep]</tt> alleles now an array with allele_string explicit instead of as key</li>
  <li><tt>[/info/species]</tt> reports the division of a species; Ensembl Genomes extension</li>
  <li>Mime types changed for many services to denote non-standard types. We now use <tt>text/x-fasta</tt>, <tt>text-x-gff3</tt>, <tt>text/x-seqxml+xml</tt> and <tt>text/x-phyloxml+xml</tt></li>
  <li><tt>[/genetree]</tt> has had NHX format retired in favour of PhyloXML</li>
  <li><tt>[/map]</tt> Translate coordinates for transcript/translation to genomic now reports the sequence region name</li>
</ul>

<h3>Bugfixes</h3>

<ul>
  <li>2 Y regions returned from <tt>[/assembly/info/human]</tt>  fixed</li>
	<li>JSON serialiser mis-encodes numerics as Strings due to MySQL DBD issues</li>
	<li>Location parser method does not handle GL1923.1 properly</li>
	<li><tt>[/genetree]</tt> parameter nh_format has no effect on the newick output</li>
</ul>

<h3>Configuration</h3>

<ul>
  <li>Removal of &lt;Compara&gt; configuration option; new code introduced to select the best compara available based upon species.division</li>
  <li>Documentation supports variable replacement for easier configuration by third parties</li>
  <li>CHI cache support in configuration; see CHI's POD and our production configuration about how you can configure it</li>
  <li>URL, name and logo now configurable</li>
</ul>

<hr/>

<h2>1.0.0 - 5th September 2012</h2>

<ul>
	<li>Initial revision of REST API</li>
	<li>Support for comparative genomics, cross references, ID lookup, mapping coordinates, sequences &amp; variations</li>
	<li>Information endpoints also made available</li>
	<li>Documentation added for all end points</li>
</ul>
