
<h1 id="title">[% template_title %]</h1>
<table class="table table-striped">
[% FOREACH pair IN groups.pairs %]
<thead>

<tr><td><h3>	[% pair.key %]</h3></td><td></td></tr>
<tr><th>Resource</th><th>Description</th></tr>
</thead>
    <tbody>
	[% FOREACH key IN pair.value %]
      <tr><td><a href="[% c.uri_for_action('/documentation/info', key) %]">[% endpoints.$key.method %] [% endpoints.$key.endpoint %] </a> </td><td> [% endpoints.$key.description %]</td></tr>
	[% END %]
    </tbody>
[% END %]
  </table>
