{
  'port'   => '3306',
  'driver' => 'mysql',
  'user'   => 'user',
  'pass'   => 'XXX',
  'host'   => 'localhost',
  
  # add a line with the dbname and module
  'databases' => {
    'homo_sapiens' => { 
      'core' => 'Bio::EnsEMBL::DBSQL::DBAdaptor',
    },
  },

  # uncomment to use preloaded databases (useful when doing lots of
  # testing)
  # 'preloaded' =>
  #   { 'homo_sapiens' => { 'core' => 'mcvicker_new_schema' } }
}
